{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "semi": ["error", "never"],
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": 0,
    "jsx-a11y/href-no-hash": 0,
    "no-underscore-dangle": 0,
    "max-len": [2, {"code": 200, "tabWidth": 4, "ignoreUrls": true}],
    "no-tabs": 0,
    "no-nested-ternary": 0,
    "react/jsx-closing-tag-location": 0,
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "hrefLeft", "hrefRight" ],
      "aspects": [ "invalidHref", "preferButton" ]
    }]
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
